@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");

:root {
  --bg-primary: #101010;
  --bg-secondary: #161616;
  --bg-tertiary: #1c1c1c;

  --fg-primary: #a0a0a0;
  --fg-secondary: #7e7e7e;

  --accent-sky: #85adff;
  --accent-indigo: #ad85ff;
  --accent-pink: #f585ed;
  --accent-orange: #ffbe85;
  --accent-stone: #808080;
  --accent-metal: #fff;
}

body {
  background-color: var(--bg-primary);
  color: var(--fg-primary);
  font-family: "Geist", sans-serif;
}
