---
import Preview from "../assets/preview.png";
---

<section class="hero">
  <h1>
    A new way to
    <strong>see your system</strong>
  </h1>
  <h2>
    A fast, beautiful, and lightweight system information tool written
    exclusively for the Fish shell.
  </h2>

  <div class="cta">
    <a href="/#install" class="install">• Install Now</a>
    <a href="#">• Repository</a>
  </div>

  <img src={Preview.src} alt="HydroFetch Preview" />
</section>

<style>
  .hero {
    text-align: center;
    padding-block: clamp(4rem, 12vh, 10rem);
    background-image:
      radial-gradient(circle at top, var(--bg-tertiary), transparent 60%),
      linear-gradient(var(--bg-tertiary), var(--bg-primary), var(--bg-primary));
  }

  h1 {
    font-size: clamp(2.8rem, 8vw, 4.2rem);
    margin-bottom: clamp(0.75rem, 4vh, 3rem);
  }

  strong {
    color: var(--accent-orange);
  }

  h2 {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    color: var(--fg-secondary);
    margin-bottom: clamp(0.5rem, 2vh, 1.25rem);
  }

  .cta {
    display: flex;
    justify-content: center;
    margin: clamp(1rem, 3vh, 2rem);
  }

  a {
    color: var(--fg-primary);
    display: block;
    text-decoration: none;
    padding: 12px 24px;
    max-width: none;
    border-radius: 0.75rem;
    margin: 0px 14px;
    transition: 0.3s ease-in-out;
  }

  a:hover {
    color: var(--accent-orange);
    transform: translateY(-5px);
  }

  .install {
    background-image: linear-gradient(
      to right,
      var(--accent-orange),
      var(--accent-pink)
    );
    color: var(--bg-secondary);
  }

  .install:hover {
    color: var(--bg-secondary);
  }

  img {
    margin-top: clamp(2rem, 5vh, 4rem);
    max-width: 90%;
  }
</style>
